labRelaxNG/tvSchedule.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="tvSchedule">
      <attribute name="name"/>
      <oneOrMore>
        <element name="channel">
          <attribute name="chan">
            <data type="integer"/>
          </attribute>
          <element name="banner">
            <text/>
          </element>
          <oneOrMore>
            <element name="day">
              <element name="date">
                <text/>
              </element>
              <choice>
                <element name="holiday">
                  <text/>
                </element>
                <element name="programSlot">
                  <element name="time">
                    <data type="NMTOKEN"/>
                  </element>
                  <element name="title">
                    <text/>
                  </element>
                  <oneOrMore>
                    <element name="description">
                      <text/>
                    </element>
                  </oneOrMore>
                </element>
              </choice>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
