prjXMLValidation/collection.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="catalog">
      <oneOrMore>
        <element name="product">
          <attribute name="department">
            <data type="NCName"/>
          </attribute>
          <attribute name="size">
            <data type="NCName"/>
          </attribute>
          <element name="item_number">
            <data type="integer"/>
          </element>
          <element name="price">
            <attribute name="currency">
              <data type="NCName"/>
            </attribute>
            <attribute name="sale">
              <data type="NCName"/>
            </attribute>
            <data type="decimal"/>
          </element>
          <element name="description">
            <text/>
          </element>
          <element name="color">
            <data type="NCName"/>
          </element>
          <oneOrMore>
            <element name="product_image">
              <data type="NMTOKEN"/>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
