prjXMLValidation/collection.rnc

default namespace = ""

start =
  element catalog {
    element product {
      attribute department { xsd:NCName },
      attribute size { xsd:NCName },
      element item_number { xsd:integer },
      element price {
        attribute currency { xsd:NCName },
        attribute sale { xsd:NCName },
        xsd:decimal
      },
      element description { text },
      element color { xsd:NCName },
      element product_image { xsd:NMTOKEN }+
    }+
  }
